* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Barriecito', cursive;
    font-family: 'Chivo Mono', monospace;
  }


header {
    width: 100%;
    color:black;
    background-color: orangered;
    padding: 30px;
    margin: 10px;
    text-align: center;
    font-size: 15px;
    font-family: 'Barriecito', cursive ;

}

h1{
    width: 100%;
    text-align: center;
}

body {
        
        background-color: lightgray;
}

.menu {
    width: 100%;
    float: left;
    padding: 15px;
    border: 0px solid black;
    left: 0; 
    margin-top: 30px; 
  }

.menu a{
    color:black;
    float: left;
    display: block;
    font-family: 'Chivo Mono', monospace;
    font-style: normal;
    text-decoration: none;
    text-align: center;
    padding: 10px;
    margin-right: 20px;
    margin-left: 10px;
    background-color: yellowgreen;
    height: auto;
}

.menu ul {
    list-style-type: none;
    text-align: center;
    margin: 0;
    padding: 0;
  }   
  
  .menu a:hover {
    background-color: green;
  }

  .main {
    width: 100%;
    float: left;
    padding: 15px;
    border: 0px solid black;
  }

h2 {
    color:black;
    background-color: rgb(40, 126, 255);
    padding: 15px;
    margin-top: 30px;
    margin-bottom: 30px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

h5  {
    font-size: large;
    font-family: 'Inconsolata', monospace;
}

h6 {
    font-style:italic;
    font-size: medium;
    font-family: 'Inconsolata', monospace;
}

p {
    font-family: 'Inconsolata', monospace;
    font-size: large;
}
   
img {

    width: 600px;
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}




a{
    font-family: 'Inconsolata', monospace;
    color: lightseagreen;
} 

a:hover{
    color: black;
}

i:hover {
    color: lightseagreen
}

  footer {
    width: 100%;
    height: 40px;
    margin: 10px;
    padding: 60px;
    text-align: center;
    color: white;
    float: left;
    font-family: 'Unbounded', cursive;
  }

  footer:hover {
    color: black;
  }

/*botones*/

button {
    font-size: 15px;  
    font-family: 'Unbounded', cursive;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 15px;
    padding: 15px;
    border-radius: 4px;
}

#lightdark {
    float:right;
   margin:20px;
    background-color: white;
    color:black;
}

  #tothetop {
    display: none; 
    position: fixed;
    bottom: 20px;
    left: 20px;
    z-index: 99;
    background-color: rgb(0, 0, 0);
    color: white;
  }
  
  #tothetop:hover, #lightdark:hover {
    background-color: lightblue;
  }



  
/* RWD */
@media (max-width: 600px) {
    header, .menu, .menu a, .main, footer{
      width: 100%;
      height: auto;
    }
       h1{
     text-align: left;
    } 
}
