* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;


    font-family: 'Chivo Mono', monospace;

    font-family: 'Staatliches', cursive;
  }


header {
    width: 100%;
    color:black;
    background-color: orangered;
    padding: 130px;
    text-align: center; 
    font-family: 'Staatliches', cursive;
  
}

h1{
    width: 100%;
    text-align: center;
    font-size: 24px;
}

#titulo {
 
  font-size: 60px;
}


body {
        
        background-color: lightgray;
}

.menu {
    width: 100%;
    float: left;
    left: 0; 
 
  }

.menu a{
    color:black;
    float: left;
    width: 20%;
    display: block;
    font-family: 'Chivo Mono', monospace;
    font-style: normal;
    text-decoration: none;
    text-align: center;
    padding: 10px;
    background-color: yellowgreen;
    height: auto;
}

.menu ul {
   width: 100%;
    list-style-type: none;
    text-align: center;
    margin: 0;
    padding: 0;
  }   
  
  .menu a:hover {
    background-color: rgb(227, 255, 11);
  }

  .img {
    width: 100%
  }

  .main {
    width: 100%;
    float: left;
    padding: 15px;
    border: 0px solid black;
  }

h2 {
    color:black;
    background-color: rgb(40, 126, 255);
    padding: 15px;
    margin-right: -16px;
    margin-left: -16px;
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 35px;

}

h2:hover{
  background-color: rgb(0, 222, 229)
}

h5  {
    font-size: large;
    font-family: 'Chivo Mono', monospace;}

h6 {
    font-style:italic;
    font-size: medium;
    font-family: 'Chivo Mono', monospace;
  }

p {
  font-family: 'Chivo Mono', monospace;
  
  font-size: large;
}
   
img {

    width: 600px;
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}




a{
    font-family: 'Chivo Mono', monospace;
    color: rgb(40, 126, 255);
} 

a:hover{
    color: black;
}



  footer {
    width: 100%;
    height: 40px;
    margin: 10px;
    padding: 60px;
    text-align: center;
    color: white;
    float: left;
    font-family: 'Chivo Mono', monospace;
  }

  footer:hover {
    color: black;
  }

/*botones*/

button {
    font-size: 30px;  
    font-family: 'Chivo Mono', monospace;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 15px;
    padding: 15px;
    border-radius: 4px;
}

#lightdark {
    float:right;
   margin:20px;
    background-color: white;
    color:black;
}

  #tothetop {
    display: none; 
    position: fixed;
    bottom: 20px;
    left: 20px;
    z-index: 99;
    background-color: rgb(0, 0, 0);
    color: white;
  }
  


  
/* RWD */
@media (max-width: 600px) {
   header, .menu, .menu a, .main, footer{
      width: 100%;
      height: auto;
      }
    
    h1{
        text-align: left;
       } 
   
    
    }
      
